.custom_button {
    padding: 14px 24px;
    width: 20rem;
    font-size: 18px;
    line-height: 18px;
    border-radius: 10px;
    background-color: #4f0099;
}

.container {
  margin-top: 2rem; 
}

.phrase2 {
  font-size: 24px;
}

#move {
  margin-top: 4rem;
}

.jumbotron {
  height: 72rem;
  background-color: #1a0033;
  color: white;
}

body {
  background-color: #1a0033;
  color: white;
}

.print_quote {
  margin-top: 30px;
}
